.App {
    display: flex;
    max-width: 1440px;
    max-height: 729px;
}

.info-container {
    padding: 3rem;
    width: 100%;
}

.search-container {
    text-align: center;
}

.image {
    height: 100vh;
    margin-left: auto;
    width: 750px;
    max-height: 729px;
    background-size: cover;
}

.btn-search {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 35px;
    background-color: hotpink;
    color: white;
    filter: grayscale(1);
    transition: 0.3s ease-in-out;
    outline: none;
}

.search {
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 200px;
    transition: 0.3s ease-in-out;
}

.search:focus {
    width: 400px;
}

.search:focus + .btn-search {
    filter: grayscale(0);
}

.no-image {
    height: 0;
    width: 0;
}
.Squall-image,
.Thunderstorm-image {
    background-image: url('./images/thunderstorm.jpeg');
}
.Sand-image,
.Clear-image {
    background-image: url('./images/clear.jpeg');
}
.Mist-image,
.Rain-image,
.Drizzle-image {
    background-image: url('./images/rain.jpeg');
}

.Snow-image {
    background-image: url('./images/rain.jpeg');
}
.Haze-image,
.Dust-image,
.Fog-image,
.Clouds-image {
    background-image: url('./images/cloudy.jpeg');
}
.Ash-image,
.Smoke-image,
.Tornado-image {
    background-image: url('./images/atmosphere.jpeg');
}

@media (max-width: 1100px) {
    .image {
        display: none;
    }
}

@media (min-width: 1440px) {
    .App-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .App {
        background-color: #fff;
        width: 1440px;
        height: 729px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    body {
        background: rgb(34, 193, 195);
        background: linear-gradient(94deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }
}
