.Dashboard {
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 50px;
}

.Dashboard-date {
    margin: 0;
    letter-spacing: 1.5px;
    font-size: 3rem;
}

.Dashboard-temperature-container {
    display: flex;
}

.Dashboard-temperature {
    font-size: 11rem;
    margin: 0;
}

.Dashboard-weekly-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.Dashboard-day-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
